In [1]:
# importing necessary library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns
%matplotlib inline

In [2]:
# loading the dataset
data = pd.read_csv("Dataset/training_data.csv")

In [3]:
data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
data.shape

(31962, 3)

In [5]:
data.size

95886

In [6]:
data.columns

Index(['id', 'label', 'tweet'], dtype='object')

In [7]:
data.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

In [8]:
data['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

# DATA PREPROCESSING

# Cleaning the data

In [9]:
# removing handle names
def remove_handle(tweet):
    match = re.findall("@[\w]*",tweet)
    for i in match:
        tweet = re.sub(i,'',tweet)
    return tweet

In [10]:
vector = np.vectorize(remove_handle)

In [22]:
data['tweets without handle'] = vector(data['tweet'])

In [12]:
data.head()

,id,label,tweet,tweets without handle
0,1,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

# Removing punctuation's,numbers and symbols

In [13]:
data['tweets without handle'] = data['tweets without handle'].str.replace("[^a-zA-Z#]"," ")

In [14]:
data.head()

,id,label,tweet,tweets without handle
0,1,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can t use cause th...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide society now #motivation

In [15]:
data.tail()

,id,label,tweet,tweets without handle
31957,31958,0,ate @user isz that youuu?ðððððð...,ate isz that youuu ...
31958,31959,0,to see nina turner on the airwaves trying to...,to see nina turner on the airwaves trying to...
31959,31960,0,listening to sad songs on a monday morning otw...,listening to sad songs on a monday morning otw...
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",#sikh #temple vandalised in in #calgary #wso...
31961,31962,0,thank you @user for you follow,thank you for you follow

In [16]:
# REMOVING SHORT WORDS
data['tweets without handle']= data['tweets without handle'].str.lower()
data['tweets without handle'] = data['tweets without handle'].apply(lambda x: ' '.join([word for word in str(x).split() if len(word)>3]))

In [17]:
#tokenize the words
tokenized_tweets = data['tweets without handle'].apply(lambda x: x.split())
tokenized_tweets.head()

0    [when, father, dysfunctional, selfish, drags, ...
1    [thanks, #lyft, credit, cause, they, offer, wh...
2                              [bihday, your, majesty]
3                     [#model, love, take, with, time]
4                   [factsguide, society, #motivation]
Name: tweets without handle, dtype: object

In [18]:
from nltk import PorterStemmer
ps = PorterStemmer()
tokenized_tweets = tokenized_tweets.apply(lambda x : [ps.stem(word) for word in x])
tokenized_tweets.head()

0    [when, father, dysfunct, selfish, drag, kid, i...
1    [thank, #lyft, credit, caus, they, offer, whee...
2                              [bihday, your, majesti]
3                     [#model, love, take, with, time]
4                         [factsguid, societi, #motiv]
Name: tweets without handle, dtype: object

In [19]:
for i in range(len(tokenized_tweets)):
    tokenized_tweets[i] = ' '.join(tokenized_tweets[i])
data['tweets without handle'] = tokenized_tweets
data.head()

,id,label,tweet,tweets without handle
0,1,0,@user when a father is dysfunctional and is s...,when father dysfunct selfish drag kid into dys...
1,2,0,@user @user thanks for #lyft credit i can't us...,thank #lyft credit caus they offer wheelchair ...
2,3,0,bihday your majesty,bihday your majesti
3,4,0,#model i love u take with u all the time in ...,#model love take with time
4,5,0,factsguide: society now #motivation,factsguid societi #motiv

In [20]:
data.tail()

,id,label,tweet,tweets without handle
31957,31958,0,ate @user isz that youuu?ðððððð...,that youuu
31958,31959,0,to see nina turner on the airwaves trying to...,nina turner airwav tri wrap herself mantl genu...
31959,31960,0,listening to sad songs on a monday morning otw...,listen song monday morn work
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",#sikh #templ vandalis #calgari #wso condemn
31961,31962,0,thank you @user for you follow,thank follow

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
vectorizer_bow = CountVectorizer(max_features=6000,stop_words='english',ngram_range=(1,4))

In [25]:
x_bow = vectorizer_bow.fit_transform(data['tweets without handle']).toarray()

In [26]:
x_bow.shape

(31962, 6000)

In [27]:
y_bow = data['label']

In [28]:
y_bow.shape

(31962,)

In [30]:
from sklearn.model_selection import train_test_split
xtrain_bow,xtest_bow,ytrain_bow,ytest_bow = train_test_split(x_bow,y_bow,test_size=0.2,random_state=3)

In [31]:
#checkinf featires names
vectorizer_bow.get_feature_names()

['00',
 '00 shop',
 '00 shop cool',
 '00 shop cool home',
 '000',
 '039',
 '05',
 '06',
 '06 16',
 '06 16 cute',
 '08',
 '10',
 '10 days',
 '10 years',
 '100',
 '100 amazing',
 '100 amazing health',
 '100 amazing health benefits',
 '1000',
 '11',
 '11th',
 '12',
 '13',
 '13th',
 '14',
 '14th',
 '15',
 '16',
 '16 cute',
 '17',
 '18',
 '19',
 '1gabba',
 '1gabba vk',
 '1st',
 '1st time',
 '20',
 '20 speakers',
 '20 speakers free',
 '20 speakers free summit',
 '200',
 '2008',
 '2014',
 '2015',
 '2016',
 '2016 30',
 '2016 30 photos',
 '2016 30 photos buy',
 '2016in4words',
 '2016in4wordsâ',
 '2017',
 '20th',
 '21',
 '21st',
 '22',
 '23',
 '24',
 '24 hours',
 '25',
 '26',
 '26th',
 '27',
 '28',
 '29',
 '2b',
 '2day',
 '2nd',
 '2nd bihday',
 '2pm',
 '30',
 '30 photos',
 '30 photos buy',
 '30 photos buy things',
 '31',
 '32',
 '35',
 '36',
 '3d',
 '3d really',
 '3d really think',
 '3d really think head',
 '3rd',
 '40',
 '40404',
 '42',
 '45',
 '46',
 '48',
 '49',
 '4pm',
 '4th',
 '50',
 '50 dead',
 '50 people',
 '500',
 '53',
 '5th',
 '60',
 '64',
 '6pm',
 '6th',
 '70',
 '79',
 '80',
 '8th',
 '90',
 '90th',
 '93',
 '95',
 '99',
 '99 shop',
 '99 shop cool',
 '99 shop cool home',
 '9th',
 'aap',
 'able',
 'abrahamhicks',
 'abrahamhicks lawofattraction',
 'abrahamhicks lawofattraction healthy',
 'abrahamhicks lawofattraction healthy healing',
 'absolute',
 'absolutely',
 'abt',
 'abundance',
 'abuse',
 'accept',
 'acceptable',
 'accepted',
 'accepted amp',
 'accepted amp sale',
 'accepted amp sale photography',
 'access',
 'accessories',
 'accident',
 'according',
 'account',
 'accounts',
 'ace',
 'achieve',
 'acne',
 'acne altwaystoheal',
 'acne altwaystoheal healthy',
 'acne altwaystoheal healthy healing',
 'act',
 'acting',
 'action',
 'actions',
 'active',
 'activities',
 'actor',
 'actor seeklearning',
 'actor seeklearning stafresh',
 'actors',
 'actorslife',
 'actress',
 'acts',
 'actual',
 'actually',
 'ad',
 'adam',
 'adapt',
 'adapt environment',
 'adapt environment need',
 'adapt environment need tear',
 'add',
 'add follow',
 'added',
 'adding',
 'address',
 'adds',
 'adele',
 'adidas',
 'admit',
 'adorable',
 'ads',
 'adult',
 'adults',
 'advanced',
 'advantage',
 'adveising',
 'adventure',
 'adventures',
 'advice',
 'advocate',
 'af',
 'affect',
 'affected',
 'affirmation',
 'affirmations',
 'afford',
 'afraid',
 'africa',
 'african',
 'afternoon',
 'ag',
 'age',
 'agenda',
 'ages',
 'ago',
 'agree',
 'agreed',
 'ah',
 'ahead',
 'ahhh',
 'ahhhh',
 'aicle',
 'aim',
 'ain',
 'air',
 'airpo',
 'aist',
 'aists',
 'aka',
 'al',
 'alabama',
 'alarm',
 'album',
 'alcohol',
 'ale',
 'alex',
 'ali',
 'alive',
 'allah',
 'allahsoil',
 'alligator',
 'allow',
 'allow child',
 'allowed',
 'ally',
 'aloha',
 'alt',
 'alt right',
 'altright',
 'altwaystoheal',
 'altwaystoheal healing',
 'altwaystoheal healing healthy',
 'altwaystoheal healthy',
 'altwaystoheal healthy happy',
 'altwaystoheal healthy healing',
 'altwaystoheal healthy healing peace',
 'altwaystoheal healthy idwp',
 'altwaystoheal healthy peace',
 'amarinder',
 'amateur',
 'amazed',
 'amazing',
 'amazing day',
 'amazing health',
 'amazing health benefits',
 'amazing health benefits cucumbers',
 'amazing people',
 'amazing voice',
 'amazing voice lt',
 'amazing voice lt lt',
 'amazon',
 'amen',
 'amen share',
 'america',
 'american',
 'americans',
 'amodu',
 'amp',
 'amp 039',
 'amp amp',
 'amp bad',
 'amp bad piggies',
 'amp bad piggies finger',
 'amp families',
 'amp feel',
 'amp feel like',
 'amp feel like listen',
 'amp feel like stomping',
 'amp friends',
 'amp grateful',
 'amp grateful money',
 'amp grateful money comes',
 'amp happy',
 'amp healthy',
 'amp just',
 'amp love',
 'amp sale',
 'amp sale photography',
 'amp share',
 'amsterdam',
 'amwriting',
 'ana',
 'anal',
 'analytics',
 'andrew',
 'android',
 'andâ',
 'angel',
 'angels',
 'anger',
 'angry',
 'angry birds',
 'angry polar',
 'angry polar bear',
 'angry polar bear climb',
 'angry visit',
 'angry visit gt',
 'angry visit gt gt',
 'animal',
 'animals',
 'animals cute',
 'animation',
 'anime',
 'anna',
 'anne',
 'anne hathaway',
 'anne hathaway wedding',
 'anne hathaway wedding love',
 'anniversary',
 'announce',
 'announced',
 'announcement',
 'announces',
 'annoyed',
 'annual',
 'answer',
 'answered',
 'answers',
 'anthems',
 'anti',
 'antiracism',
 'antiracism seashepherd',
 'antisemitism',
 'anton',
 'anton yelchin',
 'antonyelchin',
 'anxiety',
 'anxiety healthy',
 'anxiety healthy peace',
 'anxiety healthy peace altwaystoheal',
 'anxiety work',
 'anxiety work altwaystoheal',
 'anxiety work altwaystoheal healthy',
 'anxious',
 'anybody',
 'anymore',
 'apa',
 'app',
 'apparently',
 'apple',
 'appletstag',
 'appointment',
 'appreciate',
 'appreciated',
 'appreciation',
 'apps',
 'apps free',
 'apps free music',
 'april',
 'april blog',
 'april blog silver',
 'archives',
 'area',
 'aren',
 'aren protesting',
 'aren protesting trump',
 'aren protesting trump republican',
 'argument',
 'arkansas',
 'arm',
 'arms',
 'army',
 'arrive',
 'arrived',
 'arrived today',
 'arriving',
 'ascot',
 'ashamed',
 'ashiq',
 'ashiq log',
 'ashiq log follow',
 'ashiq log follow karen',
 'asian',
 'ask',
 'asked',
 'asking',
 'asks',
 'ass',
 'assault',
 'asshole',
 'assholes',
 'assume',
 'astrologer',
 'astrologer love',
 'ate',
 'atherapy',
 'atherapy musictherapy',
 'atherapy musictherapy heal',
 'atherapy musictherapy heal life',
 'athletes',
 'atlanta',
 'atm',
 'attack',
 'attack bull',
 'attack bull chase',
 'attack bull chase leave',
 'attack bull game',
 'attack bull game 3d',
 'attacked',
 'attacks',
 'attempt',
 'attend',
 'attending',
 'attention',
 'attitude',
 'attractive',
 'aud',
 'aud usd',
 'august',
 'augusta',
 'auspol',
 'australia',
 'author',
 'available',
 'available day',
 'average',
 'avoid',
 'awaiting',
 'awake',
 'award',
 'awards',
 'away',
 'awesome',
 'awful',
 'awhile',
 'awork',
 'aww',
 'aww yeah',
 'aww yeah good',
 'aww yeah good bing',
 'aâ',
 'b4',
 'babe',
 'babies',
 'baby',
 'babygirl',
 'backed',
 'background',
 'backyard',
 'bacon',
 'bad',
 'bad day',
 'bad piggies',
 'bad piggies finger',
 'bad piggies finger family',
 'badal',
 'badly',
 'bae',
 'bag',
 'bags',
 'balance',
 'balanced',
 'bali',
 'ball',
 'balls',
 'ban',
 'band',
 'bang',
 'bangkok',
 'bank',
 'bank blog',
 'bank blog silver',
 'bank blog silver gold',
 'bar',
 'barcelona',
 'barely',
 'base',
 'baseball',
 'based',
 'bashful',
 'bashful dm',
 'bashful dm today',
 'basic',
 'basically',
 'basis',
 'basketball',
 'bastard',
 'bastards',
 'bath',
 'bathroom',
 'batman',
 'battle',
 'bay',
 'bbc',
 'bbq',
 'bbuk',
 'bc',
 'bday',
 'beach',
 'beach hot',
 'beach hot coolâ',
 'beachbody',
 'beachâ',
 'bear',
 'bear climb',
 'bear climb racing',
 'bear climb racing angry',
 'bear climb racing polar',
 'bear living',
 'bear living cold',
 'bear living cold place',
 'bear living cold places',
 'beard',
 'bearers',
 'bearâ',
 'beat',
 'beaten',
 'beats',
 'beautiful',
 'beautiful beach',
 'beautiful best',
 'beautiful best friend',
 'beautiful best friend singing',
 'beautiful day',
 'beautiful followme',
 'beautiful followme follow',
 'beautiful followme followâ',
 'beautiful girl',
 'beautiful love',
 'beautifulâ',
 'beauty',
 'beautyâ',
 'bed',
 'bed dream',
 'bed dream wakeup',
 'bed dream wakeup hope',
 'bee',
 'beer',
 'beers',
 'bees',
 'begin',
 'beginning',
 'begins',
 'begun',
 'behappy',
 'beings',
 'belgium',
 'belief',
 'believe',
 'believes',
 'bell',
 'belong',
 'benefits',
 'benefits altwaystoheal',
 'benefits altwaystoheal healthy',
 'benefits altwaystoheal healthy healing',
 'benefits cucumbers',
 'benefits cucumbers healthy',
 'benefits cucumbers healthy altwaystoheal',
 'berlin',
 'bernie',
 'best',
 'best day',
 'best essential',
 'best essential oils',
 'best essential oils healing',
 'best essentialoils',
 'best essentialoils anxiety',
 'best essentialoils anxiety healthy',
 'best friend',
 'best friend day',
 'best friend singing',
 'best friend singing amazing',
 'best friends',
 'best lawofattraction',
 'best lawofattraction resources',
 'best lawofattraction resources healing',
 'best luck',
 'best way',
 'best wishes',
 'bestfriend',
 'bestfriends',
 'bestie',
 'besties',
 'bestoftheday',
 'bestseller',
 'bestsellers',
 'bet',
 'beta',
 'better',
 'beutiful',
 'beyou',
 'beâ',
 'bf',
 'bff',
 'big',
 'big day',
 'bigger',
 'biggest',
 'bigot',
 'bigotry',
 'bih',
 'bihday',
 'bihday bihday',
 'bihday cake',
 'bihday celebration',
 'bihday girl',
 'bihday pay',
 'bihday rg',
 'bihday sexy',
 'bihday sexy girl',
 'bihdaygirl',
 'bihdays',
 'bihdayâ',
 'bihdayð',
 'bike',
 'bikini',
 'bills',
 'billy',
 'bin',
 'bing',
 'bing bong',
 'bing bong bing',
 'bing bong bing bong',
 'binge',
 'bio',
 'bird',
 'birds',
 'birds amp',
 'birds amp bad',
 'birds amp bad piggies',
 'birds stella',
 'birmingham',
 'bit',
 'bitch',
 'bitches',
 'bitcoin',
 'bite',
 'bitter',
 'bjp',
 'black',
 'black amp',
 'black amp feel',
 'black amp feel like',
 'black guy',
 'black people',
 'black white',
 'black women',
 'blackandwhite',
 'blacklivesmatter',
 'blacks',
 'blame',
 'blamed',
 'blast',
 'bless',
 'blessed',
 'blessed day',
 'blessed grateful',
 'blessed thankful',
 'blessedâ',
 'blessing',
 'blessings',
 'blind',
 'bliss',
 'blm',
 'block',
 'blocked',
 'blog',
 'blog silver',
 'blog silver gold',
 'blog silver gold forex',
 'blogger',
 'bloggers',
 'blogging',
 'blonde',
 'blood',
 'bloody',
 'blowing',
 'blue',
 'blues',
 'bluesky',
 'blur',
 'blur sun',
 'blur sun fun',
 'blur sun fun dog',
 'blur sun fun dogâ',
 'board',
 'boat',
 'bob',
 'body',
 'body altwaystoheal',
 'body altwaystoheal healthy',
 'body altwaystoheal healthy peace',
 'body doplants',
 'body doplants healthy',
 'bogota',
 'bogota colombia',
 'bogota colombia puntohost',
 'bogota colombia puntohost cedm',
 'bollywood',
 'bond',
 'bonding',
 'bones',
 'bong',
 'bong bing',
 'bong bing bong',
 'bonus',
 'book',
 'booked',
 'booking',
 'books',
 'boom',
 'boots',
 'bored',
 'boricua',
 'boricua miamiâ',
 'boricuaâ',
 'boring',
 'born',
 'boss',
 'boston',
 'bottle',
 'bottles',
 'bought',
 'bouncingbaby',
 'bound',
 'bout',
 'bowling',
 'box',
 'boy',
 'boycott',
 'boyfriend',
 'boys',
 'boyâ',
 'brain',
 'brand',
 'brand new',
 'brave',
 'brazil',
 'bread',
 'break',
 'breakfast',
 'breaking',
 'breaks',
 'breath',
 'breathe',
 'brexit',
 'brexit blm',
 'bride',
 'bride groom',
 'bridge',
 'bright',
 'brighton',
 'brilliant',
 'bring',
 'bringing',
 'bringiton',
 'brings',
 'bristol',
 'brithday',
 'british',
 'bro',
 'broadway',
 'broke',
 'broken',
 'brokers',
 'brokers actor',
 'brokers actor seeklearning',
 'brokers actor seeklearning stafresh',
 'brokers change',
 'brokers change memes',
 'brokers change memes love',
 'brooklyn',
 'brother',
 'brothers',
 'brought',
 'brown',
 'brunch',
 'brunette',
 'bs',
 'bt',
 'bts',
 'btw',
 'bubbles',
 'buddy',
 'buffalo',
 'buffalo simulation',
 'buffalo simulation buffalo',
 'buffalo simulation buffalo vicinity',
 'buffalo vicinity',
 'buffalo vicinity homes',
 'buffalo vicinity homes wa',
 'buffalo vicinity homes way',
 'build',
 'building',
 'bull',
 'bull chase',
 'bull chase leave',
 'bull chase leave lot',
 'bull direct',
 'bull direct want',
 'bull direct want sta',
 'bull direct want wh',
 'bull direct want whe',
 'bull direct want yo',
 'bull dominate',
 'bull dominate bull',
 'bull dominate bull direct',
 'bull game',
 'bull game 3d',
 'bull game 3d really',
 'bull hill',
 'bull hill climb',
 'bull hill climb reach',
 'bullshit',
 'bully',
 'bullying',
 'bunch',
 'bunny',
 'burger',
 'burn',
 'burning',
 'bus',
 'business',
 'busy',
 'butt',
 'butterfly',
 'button',
 'buy',
 'buy things',
 'buy things flag',
 'buy things flag day',
 'buying',
 'buzzing',
 'bye',
 'ca',
 'cad',
 'cafe',
 'cage',
 'cake',
 'calgary',
 'calgary wso',
 'calgary wso condemns',
 'calgary wso condemns act',
 'cali',
 'california',
 'called',
 'calling',
 'calls',
 'calm',
 'came',
 'came home',
 'camera',
 'camp',
 'campaign',
 'camping',
 'canada',
 'canadian',
 'cancel',
 'cancelled',
 'cancer',
 'candidate',
 'candidates',
 'candles',
 'candy',
 'cantwait',
 'canâ',
 'caoon',
 'caption',
 'car',
 'card',
 'cardiff',
 'cards',
 'care',
 'cared',
 'career',
 'cares',
 'caring',
 'carl',
 'carl paladino',
 'carlpaladino',
 'carrying',
 'cars',
 'case',
 'cast',
 'cat',
 'cat cat',
 'cat kitty',
 'catch',
 'catching',
 'cats',
 'catsoftwitter',
 'caturday',
 'caught',
 'cause',
 'caused',
 'cavs',
 'cc',
 'cd',
 'ceain',
 'cedm',
 'cedm edm',
 'cedm edm dj',
 'cedm edm dj fashion',
 'celebrate',
 'celebrate life',
 'celebrate life possibility',
 'celebrate life possibility anne',
 'celebrated',
 'celebrating',
 'celebration',
 'celebrations',
 'censorship',
 'center',
 'central',
 'centre',
 'century',
 'ceremony',
 'chain',
 'chair',
 'challenge',
 'challenges',
 'champions',
 'championship',
 'chance',
 'change',
 'change memes',
 'change memes love',
 'change memes love education',
 'changed',
 'changes',
 'changing',
 'channel',
 'chaos',
 'chapter',
 'character',
 'charge',
 'charging',
 'charity',
 'chase',
 'chase leave',
 'chase leave lot',
 'chase leave lot despite',
 'chat',
 'cheap',
 'cheat',
 'check',
 'check latest',
 'check latest updates',
 'check latest updates glastofest',
 'check new',
 'check new trending',
 'check new trending funny',
 'checked',
 'cheeky',
 'cheer',
 'cheers',
 'cheese',
 'cheesy',
 'cherry',
 'chicago',
 'chick',
 'chicken',
 'chief',
 'child',
 'childhood',
 'childish',
 'children',
 'chile',
 'chill',
 'chilling',
 'china',
 'chinese',
 'chocolate',
 'choice',
 'choices',
 'choose',
 'choose happy',
 'choosing',
 'chosen',
 'chris',
 'christ',
 'christian',
 'christianity',
 'christians',
 'christina',
 'christina grimmie',
 'christinagrimmie',
 'christmas',
 'church',
 'cinema',
 'circle',
 'citizens',
 'city',
 'city mat',
 'city mate',
 'city materi',
 'city materia',
 'city material',
 'claim',
 'claims',
 'class',
 'classes',
 'classic',
 'classroom',
 'clean',
 ...]

In [32]:
vectorizer_bow.get_params()

{'analyzer': 'word',
 'binary': False,
 'decode_error': 'strict',
 'dtype': numpy.int64,
 'encoding': 'utf-8',
 'input': 'content',
 'lowercase': True,
 'max_df': 1.0,
 'max_features': 6000,
 'min_df': 1,
 'ngram_range': (1, 4),
 'preprocessor': None,
 'stop_words': 'english',
 'strip_accents': None,
 'token_pattern': '(?u)\\b\\w\\w+\\b',
 'tokenizer': None,
 'vocabulary': None}

In [33]:
count_df = pd.DataFrame(x_bow,columns = vectorizer_bow.get_feature_names())

In [34]:
count_df.head()

,00,00 shop,00 shop cool,00 shop cool home,000,039,05,06,06 16,06 16 cute,...,¾ð,¾ð ¾ð,à¹,à¹ à¹,ï¼,ï¼ ï¼,ó¾,ó¾ ó¾,ó¾ ó¾ ó¾,ó¾ ó¾ ó¾ ó¾
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer_tdif = TfidfVectorizer(max_features=6000,stop_words='english',ngram_range=(1,4))

In [41]:
x_tdif = vectorizer_tdif.fit_transform(data['tweets without handle'])

In [42]:
x_tdif = x_tdif.todense()
x_tdif

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [44]:
y_tdif=data['label']

In [45]:
y_tdif

0        0
1        0
2        0
3        0
4        0
        ..
31957    0
31958    0
31959    0
31960    1
31961    0
Name: label, Length: 31962, dtype: int64

In [46]:
from sklearn.model_selection import train_test_split
xtrain_tdif,xtest_tdif,ytrain_tdif,ytest_tdif = train_test_split(x_tdif,y_tdif,test_size=0.2,random_state=3)

In [47]:
xtrain_tdif

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [48]:
xtrain_tdif.shape

(25569, 6000)

In [49]:
ytrain_tdif.shape

(25569,)

# DATA VISUALIZATION

In [50]:
from wordcloud import WordCloud,ImageColorGenerator
from PIL import Image
import urllib
import requests

In [ ]:
real =' '.join(text for text in data1['clean text'][data1['label']==0])