In [1]:
# importing necessary library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns
%matplotlib inline

In [9]:
# loading the dataset
data = pd.read_csv("Dataset/training_data.csv")

In [11]:
data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [12]:
data.shape

(31962, 3)

In [13]:
data.size

95886

In [14]:
data.columns

Index(['id', 'label', 'tweet'], dtype='object')

In [15]:
data.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

In [17]:
data['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

# DATA PREPROCESSING

# Cleaning the data

In [22]:
# removing handle names
def remove_handle(tweet):
    match = re.findall("@[\w]*",tweet)
    for i in match:
        tweet = re.sub(i,'',tweet)
    return tweet

In [23]:
vector = np.vectorize(remove_handle)

In [24]:
data['tweets without handle'] = vector(data['tweet'])

In [25]:
data.head()

,id,label,tweet,tweets without handle
0,1,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

# Removing punctuation's,numbers and symbols other then#