IMPORTING LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import nltk
import seaborn as sns
%matplotlib inline

loading the dataset

In [11]:
data = pd.read_csv("../Dataset/training_data.csv")

In [12]:
data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [13]:
data.shape

(31962, 3)

In [14]:
data.size

95886

In [15]:
data.columns

Index(['id', 'label', 'tweet'], dtype='object')

In [16]:
data.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

In [17]:
data['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

DATA PREPROCESSING

Cleaning the data

In [18]:
# removing handle names
def remove_handle(tweet):
    match = re.findall("@[\w]*",tweet)
    for i in match:
        tweet = re.sub(i,'',tweet)
    return tweet

In [19]:
vector = np.vectorize(remove_handle)

In [20]:
data['tweets without handle'] = vector(data['tweet'])

In [21]:
data.head()

,id,label,tweet,tweets without handle
0,1,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

Removing punctuation's,numbers and symbols

In [22]:
data['tweets without handle'] = data['tweets without handle'].str.replace("[^a-zA-Z#]"," ")

In [23]:
data.head()

,id,label,tweet,tweets without handle
0,1,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can t use cause th...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide society now #motivation

In [24]:
data.tail()

,id,label,tweet,tweets without handle
31957,31958,0,ate @user isz that youuu?ðððððð...,ate isz that youuu ...
31958,31959,0,to see nina turner on the airwaves trying to...,to see nina turner on the airwaves trying to...
31959,31960,0,listening to sad songs on a monday morning otw...,listening to sad songs on a monday morning otw...
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",#sikh #temple vandalised in in #calgary #wso...
31961,31962,0,thank you @user for you follow,thank you for you follow

In [25]:
# REMOVING SHORT WORDS
data['tweets without handle']= data['tweets without handle'].str.lower()
data['tweets without handle'] = data['tweets without handle'].apply(lambda x: ' '.join([word for word in str(x).split() if len(word)>3]))

In [26]:
#tokenize the words# REMOVING SHORT WORDS
data['tweets without handle']= data['tweets without handle'].str.lower()
data['tweets without handle'] = data['tweets without handle'].apply(lambda x: ' '.join([word for word in str(x).split() if len(word)>3]))
tokenized_tweets = data['tweets without handle'].apply(lambda x: x.split())
tokenized_tweets.head()

0    [when, father, dysfunctional, selfish, drags, ...
1    [thanks, #lyft, credit, cause, they, offer, wh...
2                              [bihday, your, majesty]
3                     [#model, love, take, with, time]
4                   [factsguide, society, #motivation]
Name: tweets without handle, dtype: object

In [27]:
#sTEMMING THE WORDS
from nltk import PorterStemmer
ps = PorterStemmer()
tokenized_tweets = tokenized_tweets.apply(lambda x : [ps.stem(word) for word in x])
tokenized_tweets.head()

0    [when, father, dysfunct, selfish, drag, kid, i...
1    [thank, #lyft, credit, caus, they, offer, whee...
2                              [bihday, your, majesti]
3                     [#model, love, take, with, time]
4                         [factsguid, societi, #motiv]
Name: tweets without handle, dtype: object

In [28]:
#TOKENIZED THE WORD
for i in range(len(tokenized_tweets)):
    tokenized_tweets[i] = ' '.join(tokenized_tweets[i])
data['tweets without handle'] = tokenized_tweets
data.head()

,id,label,tweet,tweets without handle
0,1,0,@user when a father is dysfunctional and is s...,when father dysfunct selfish drag kid into dys...
1,2,0,@user @user thanks for #lyft credit i can't us...,thank #lyft credit caus they offer wheelchair ...
2,3,0,bihday your majesty,bihday your majesti
3,4,0,#model i love u take with u all the time in ...,#model love take with time
4,5,0,factsguide: society now #motivation,factsguid societi #motiv

In [29]:
data.tail()

,id,label,tweet,tweets without handle
31957,31958,0,ate @user isz that youuu?ðððððð...,that youuu
31958,31959,0,to see nina turner on the airwaves trying to...,nina turner airwav tri wrap herself mantl genu...
31959,31960,0,listening to sad songs on a monday morning otw...,listen song monday morn work
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",#sikh #templ vandalis #calgari #wso condemn
31961,31962,0,thank you @user for you follow,thank follow

Feature Extraction

Using CountVectorizer

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
vectorizer_bow = CountVectorizer(max_features=6000,stop_words='english',ngram_range=(1,4))
x_bow = vectorizer_bow.fit_transform(data['tweets without handle']).toarray()

In [32]:
x_bow.shape

(31962, 6000)

In [33]:
y_bow = data['label']

In [34]:
y_bow.shape

(31962,)

In [35]:
from sklearn.model_selection import train_test_split
xtrain_bow,xtest_bow,ytrain_bow,ytest_bow = train_test_split(x_bow,y_bow,test_size=0.2,random_state=3)

In [36]:
#checking features names
vectorizer_bow.get_feature_names()

['aap',
 'abandon',
 'abil',
 'abl',
 'abov',
 'abov expect',
 'abrahamhick',
 'abrahamhick lawofattract',
 'abrahamhick lawofattract healthi',
 'abrahamhick lawofattract healthi heal',
 'absolut',
 'abund',
 'abus',
 'academi',
 'accent',
 'accept',
 'accept sale',
 'accept sale photographi',
 'access',
 'accessori',
 'accid',
 'accomplish',
 'accord',
 'account',
 'accus',
 'ace',
 'ach',
 'achiev',
 'acn',
 'acn altwaystoh',
 'acn altwaystoh healthi',
 'acn altwaystoh healthi heal',
 'act',
 'act like',
 'action',
 'activ',
 'activist',
 'actor',
 'actor seeklearn',
 'actor seeklearn stafresh',
 'actorslif',
 'actress',
 'actual',
 'ad',
 'adam',
 'adapt',
 'adapt environ',
 'adapt environ need',
 'adapt environ need tear',
 'add',
 'addict',
 'addit',
 'address',
 'adel',
 'adida',
 'admit',
 'adopt',
 'ador',
 'adult',
 'adv',
 'advanc',
 'advantag',
 'adveis',
 'adventur',
 'advic',
 'advoc',
 'affair',
 'affect',
 'affirm',
 'afford',
 'afraid',
 'africa',
 'african',
 'african american',
 'afternoon',
 'age',
 'agenda',
 'agent',
 'agre',
 'ahead',
 'ahhh',
 'ahhhh',
 'aicl',
 'aim',
 'aint',
 'airlin',
 'airpo',
 'aist',
 'alabama',
 'alarm',
 'alaska',
 'albea',
 'album',
 'alcohol',
 'aldub',
 'alex',
 'alien',
 'aliv',
 'allah',
 'allahsoil',
 'alleg',
 'alli',
 'allig',
 'allow',
 'allow child',
 'almighti',
 'aloha',
 'alon',
 'alreadi',
 'alreadi miss',
 'altern',
 'altern idwp',
 'altright',
 'altwaystoh',
 'altwaystoh heal',
 'altwaystoh heal healthi',
 'altwaystoh heal peac',
 'altwaystoh healthi',
 'altwaystoh healthi happi',
 'altwaystoh healthi heal',
 'altwaystoh healthi heal peac',
 'altwaystoh healthi idwp',
 'altwaystoh healthi peac',
 'altwaystoh healthi peac think',
 'alumni',
 'alway',
 'alway feel',
 'alway happi',
 'alway love',
 'alway make',
 'alway want',
 'amarind',
 'amarind aap',
 'amateur',
 'amaz',
 'amaz beauti',
 'amaz health',
 'amaz health benefit',
 'amaz health benefit cucumb',
 'amaz love',
 'amaz peopl',
 'amaz voic',
 'amazon',
 'ambassador',
 'amen',
 'amen share',
 'amen share passion',
 'amend',
 'america',
 'american',
 'amodu',
 'amsterdam',
 'amus',
 'amwrit',
 'anal',
 'analyt',
 'ancient',
 'andrea',
 'andrew',
 'android',
 'angel',
 'angel archangel',
 'angel archangel high',
 'angel archangel high help',
 'anger',
 'angri',
 'angri bird',
 'angri polar',
 'angri polar bear',
 'angri polar bear climb',
 'angri visit',
 'angri visit lover',
 'angri visit lover friend',
 'anim',
 'anim anim',
 'anim cute',
 'ann',
 'ann hathaway',
 'ann hathaway wed',
 'ann hathaway wed love',
 'anna',
 'anniversari',
 'announc',
 'annoy',
 'annual',
 'anoth',
 'anoth great',
 'anoth great local',
 'anoth great local tweet',
 'anoth mass',
 'anoth mass shoot',
 'anoth year',
 'answer',
 'answer question',
 'anthem',
 'anti',
 'anti semit',
 'antirac',
 'antirac seashepherd',
 'antisemit',
 'anton',
 'anton yelchin',
 'antonyelchin',
 'anxieti',
 'anxieti altwaystoh',
 'anxieti altwaystoh heal',
 'anxieti altwaystoh heal peac',
 'anxieti healthi',
 'anxieti healthi peac',
 'anxieti healthi peac altwaystoh',
 'anxieti stress',
 'anxieti work',
 'anxieti work altwaystoh',
 'anxieti work altwaystoh healthi',
 'anxiou',
 'anybodi',
 'anymor',
 'anyon',
 'anyon els',
 'anyon els notic',
 'anyon els notic suppoer',
 'anyon need',
 'anyth',
 'anywher',
 'apaheid',
 'apament',
 'apolog',
 'app',
 'app free',
 'app free music',
 'appal',
 'appar',
 'appeal',
 'appear',
 'appl',
 'appletstag',
 'appli',
 'applic',
 'appoint',
 'appreci',
 'approv',
 'april',
 'april blog',
 'april blog silver',
 'arab',
 'archangel',
 'archangel high',
 'archangel high help',
 'archangel high help live',
 'archiv',
 'area',
 'aren',
 'aren protest',
 'aren protest trump',
 'aren protest trump becaus',
 'argentina',
 'argu',
 'argument',
 'arkansa',
 'arm',
 'armi',
 'arrest',
 'arriv',
 'arriv today',
 'arsen',
 'ascot',
 'asham',
 'ashiq',
 'ashiq follow',
 'ashiq follow karen',
 'ashiq follow karen iqbal',
 'asia',
 'asian',
 'ask',
 'ass',
 'assault',
 'assault rifl',
 'assess',
 'asshol',
 'assist',
 'assum',
 'astrolog',
 'astrolog love',
 'atherapi',
 'atherapi musictherapi',
 'atherapi musictherapi heal',
 'atherapi musictherapi heal life',
 'athlet',
 'atlanta',
 'atmospher',
 'attack',
 'attack bull',
 'attack bull chase',
 'attack bull chase leav',
 'attack bull game',
 'attack bull game realli',
 'attack orlando',
 'attempt',
 'attend',
 'attent',
 'attitud',
 'attract',
 'aud',
 'audienc',
 'audio',
 'audit',
 'august',
 'augusta',
 'augusta buffalo',
 'augusta buffalo simul',
 'augusta buffalo simul buffalo',
 'auspol',
 'austin',
 'australia',
 'australian',
 'author',
 'avail',
 'aveng',
 'averag',
 'avocado',
 'avoid',
 'aw',
 'await',
 'awak',
 'awar',
 'award',
 'away',
 'awesom',
 'awesom love',
 'awhil',
 'awork',
 'awww',
 'baba',
 'babe',
 'babi',
 'babi girl',
 'babi love',
 'babygirl',
 'background',
 'backward',
 'backyard',
 'bacon',
 'bad',
 'badal',
 'badg',
 'badli',
 'bae',
 'bag',
 'bake',
 'balanc',
 'bali',
 'ball',
 'balloon',
 'baltimor',
 'ban',
 'band',
 'bang',
 'bangkok',
 'bank',
 'bank blog',
 'bank blog silver',
 'bank blog silver gold',
 'bankai',
 'bar',
 'barcelona',
 'bare',
 'base',
 'basebal',
 'bash',
 'bash today',
 'basi',
 'basic',
 'basket',
 'basketbal',
 'bastard',
 'bath',
 'bathroom',
 'batman',
 'battl',
 'battlefield',
 'bbc',
 'bbq',
 'bbuk',
 'bbw',
 'bday',
 'beach',
 'beach hot',
 'beach hot cool',
 'beachbodi',
 'beachlif',
 'bear',
 'bear climb',
 'bear climb race',
 'bear climb race angri',
 'bear climb race polar',
 'bear live',
 'bear live cold',
 'bear live cold place',
 'beard',
 'bearer',
 'beat',
 'beaten',
 'beauti',
 'beauti beach',
 'beauti beauti',
 'beauti best',
 'beauti best friend',
 'beauti best friend sing',
 'beauti cute',
 'beauti followm',
 'beauti followm follow',
 'beauti followm follow fashion',
 'beauti girl',
 'beauti love',
 'beautiful',
 'becam',
 'becaus',
 'becaus celebr',
 'becaus celebr life',
 'becaus celebr life possibl',
 'becaus happi',
 'becaus republican',
 'becaus republican becaus',
 'becaus republican becaus trump',
 'becaus trump',
 'becaus trump fuher',
 'becom',
 'bed',
 'bedroom',
 'bee',
 'beep',
 'beer',
 'befor',
 'beg',
 'begin',
 'beginn',
 'begun',
 'behappi',
 'belgium',
 'belief',
 'believ',
 'believ thi',
 'bell',
 'belong',
 'belov',
 'benefit',
 'benefit altwaystoh',
 'benefit altwaystoh healthi',
 'benefit altwaystoh healthi heal',
 'benefit cucumb',
 'benefit cucumb healthi',
 'benefit cucumb healthi altwaystoh',
 'bentley',
 'berlin',
 'berni',
 'besid',
 'best',
 'best essenti',
 'best essenti oil',
 'best essenti oil heal',
 'best essentialoil',
 'best essentialoil anxieti',
 'best essentialoil anxieti healthi',
 'best father',
 'best friend',
 'best friend sing',
 'best friend sing amaz',
 'best homeopath',
 'best homeopath remedi',
 'best homeopath remedi anxieti',
 'best lawofattract',
 'best lawofattract resourc',
 'best lawofattract resourc heal',
 'best luck',
 'best robe',
 'best robe brown',
 'best robe brown wed',
 'best thing',
 'best wish',
 'bestfriend',
 'besti',
 'bestoftheday',
 'bestsel',
 'bestsel inspir',
 'bestsel motiv',
 'beta',
 'betray',
 'better',
 'better thi',
 'beuti',
 'bewar',
 'beyou',
 'bff',
 'big',
 'bigger',
 'biggest',
 'bigot',
 'bigotri',
 'bihday',
 'bihday beauti',
 'bihday bihday',
 'bihday bihdaygirl',
 'bihday cake',
 'bihday celebr',
 'bihday day',
 'bihday donald',
 'bihday girl',
 'bihday happi',
 'bihday hope',
 'bihday love',
 'bihday majesti',
 'bihday present',
 'bihday sexi',
 'bihday sexi girl',
 'bihday thi',
 'bihday tupac',
 'bihday week',
 'bihday wish',
 'bihday year',
 'bihdaygirl',
 'biher',
 'bike',
 'bikini',
 'billi',
 'billion',
 'bing',
 'bing bong',
 'bing bong bing',
 'bing bong bing bong',
 'bing watch',
 'bingewatch',
 'bird',
 'bird piggi',
 'bird piggi finger',
 'bird piggi finger famili',
 'bird stella',
 'birmingham',
 'bitch',
 'bitcoin',
 'bite',
 'bitter',
 'bjp',
 'black',
 'black feel',
 'black feel like',
 'black feel like stomp',
 'black peopl',
 'black white',
 'black women',
 'blackandwhit',
 'blacklivesmatt',
 'blame',
 'blanket',
 'blast',
 'blatant',
 'bleed',
 'bless',
 'bless grate',
 'bless love',
 'bless thank',
 'blind',
 'bliss',
 'blm',
 'block',
 'blog',
 'blog blogger',
 'blog post',
 'blog silver',
 'blog silver gold',
 'blog silver gold forex',
 'blogger',
 'blond',
 'blood',
 'bloodi',
 'bloom',
 'blow',
 'blue',
 'blueey',
 'blueski',
 'blur',
 'blur sun',
 'blur sun fun',
 'blur sun fun dog',
 'board',
 'boat',
 'bodi',
 'bodi altwaystoh',
 'bodi altwaystoh healthi',
 'bodi altwaystoh healthi peac',
 'bodi doplant',
 'bodi doplant healthi',
 'bodrum',
 'bogota',
 'bogota colombia',
 'bogota colombia puntohost',
 'bogota colombia puntohost cedm',
 'bollywood',
 'bomb',
 'bond',
 'bone',
 'bong',
 'bong bing',
 'bong bing bong',
 'bonu',
 'boo',
 'boob',
 'book',
 'book read',
 'book ticket',
 'boom',
 'boost',
 'boot',
 'bore',
 'boricua',
 'boricua miami',
 'born',
 'boss',
 'boston',
 'bother',
 'bottl',
 'bought',
 'bounc',
 'bouncingbabi',
 'bound',
 'bout',
 'bowl',
 'box',
 'boy',
 'boy love',
 'boycott',
 'boyfriend',
 'bracelet',
 'brain',
 'brainwash',
 'branch',
 'brand',
 'brave',
 'brazil',
 'bread',
 'break',
 'breakfast',
 'breakup',
 'breath',
 'breez',
 'brew',
 'brexit',
 'brexit blm',
 'brick',
 'bride',
 'bride groom',
 'bridesmaid',
 'bridg',
 'brief',
 'bright',
 'brighten',
 'brighton',
 'brilliant',
 'bring',
 'bringiton',
 'brisk',
 'bristol',
 'brithday',
 'british',
 'bro',
 'broadcast',
 'broadway',
 'brochur',
 'broke',
 'broken',
 'broker',
 'broker actor',
 'broker actor seeklearn',
 'broker actor seeklearn stafresh',
 'broker chang',
 'broker chang meme',
 'broker chang meme love',
 'bron',
 'brook',
 'brooklyn',
 'brother',
 'brother sister',
 'brought',
 'brown',
 'brown wed',
 'brown wed love',
 'bruh',
 'brunch',
 'brunett',
 'brussel',
 'brutal',
 'bt',
 'bu',
 'bubbl',
 'buddi',
 'budget',
 'buffalo',
 'buffalo bull',
 'buffalo bull domin',
 'buffalo bull domin bull',
 'buffalo simul',
 'buffalo simul buffalo',
 'buffalo simul buffalo vicin',
 'buffalo vicin',
 'buffalo vicin home',
 'buffalo vicin home thi',
 'build',
 'bull',
 'bull chase',
 'bull chase leav',
 'bull chase leav despit',
 'bull direct',
 'bull direct whatev',
 'bull direct whatev want',
 'bull domin',
 'bull domin bull',
 'bull domin bull direct',
 'bull game',
 'bull game realli',
 'bull game realli think',
 'bull hill',
 'bull hill climb',
 'bull hill climb reach',
 'bulli',
 'bullshit',
 'bum',
 'bunch',
 'bunni',
 'burger',
 'buri',
 'burn',
 'burnt',
 'busi',
 'bust',
 'butt',
 'butterfli',
 'button',
 'buy',
 'buzz',
 'cafe',
 'cage',
 'cake',
 'calgari',
 'calgari wso',
 'calgari wso condemn',
 'cali',
 'california',
 'calm',
 'came',
 'came home',
 'camera',
 'cameron',
 'camgirl',
 'camp',
 'campaign',
 'camper',
 'canada',
 'canadian',
 'cancel',
 'cancer',
 'candi',
 'candid',
 'candl',
 'cantwait',
 'caoon',
 'cape',
 'capit',
 'captain',
 'caption',
 'captur',
 'car',
 'card',
 'cardiff',
 'care',
 'career',
 'carl',
 'carl paladino',
 'carlo',
 'carlpaladino',
 'carri',
 'case',
 'cash',
 'casino',
 'cast',
 'casual',
 'cat',
 'cat kitti',
 'catch',
 'catlov',
 'catsoftwitt',
 'caturday',
 'caught',
 'caus',
 'cav',
 'ceain',
 'cedm',
 'cedm edm',
 'cedm edm fashion',
 'cedm edm fashion music',
 'celebr',
 'celebr bihday',
 'celebr life',
 'celebr life possibl',
 'celebr life possibl ann',
 'celebr love',
 'censor',
 'censorship',
 'center',
 'centr',
 'central',
 'centuri',
 'cereal',
 'ceremoni',
 'chain',
 'chair',
 'challeng',
 'champ',
 'champagn',
 'champion',
 'championship',
 'chanc',
 'chang',
 'chang life',
 'chang meme',
 'chang meme love',
 'chang meme love educ',
 'chang world',
 'channel',
 'chao',
 'chapter',
 'charact',
 'charg',
 'chariti',
 'charl',
 'charm',
 'chase',
 'chase leav',
 'chase leav despit',
 'chase leav despit fact',
 'chat',
 'cheap',
 'cheat',
 'check',
 'check latest',
 'check latest updat',
 'check latest updat glastofest',
 'check thi',
 'check thi trend',
 'check thi trend funni',
 'cheeki',
 'cheer',
 'chees',
 'cheesi',
 'chef',
 'chelsea',
 'cherish',
 'cherri',
 'chester',
 'chicago',
 'chick',
 'chicken',
 'chief',
 'chihuahua',
 'child',
 'childhood',
 'childish',
 'children',
 'chile',
 'chill',
 'china',
 'chines',
 'chip',
 'chocol',
 'choic',
 'choke',
 'choos',
 'choos happi',
 'chose',
 'chosen',
 'chri',
 'christ',
 'christian',
 'christina',
 'christina grimmi',
 'christinagrimmi',
 'christma',
 'chronicpain',
 'church',
 'cinema',
 'circl',
 'citat',
 'citi',
 'citi mate',
 'citi materi',
 'citi materia',
 'citizen',
 'civil',
 'claim',
 'clariti',
 'class',
 'classi',
 'classic',
 'classroom',
 'clean',
 'clear',
 'clearli',
 'cleveland',
 'click',
 'click watch',
 'client',
 'climb',
 'climb race',
 'climb race angri',
 'climb race angri polar',
 'climb race polar',
 'climb race polar bear',
 'climb reach',
 'climb reach target',
 'climb reach target complet',
 'climb vast',
 'climb vast expans',
 'climb vast expans mountain',
 'clinton',
 'clip',
 'clock',
 'close',
 'closer',
 'closest',
 'closet',
 'cloth',
 'cloud',
 'cloudi',
 'clown',
 'club',
 'clue',
 'cnn',
 'coach',
 'coast',
 'cock',
 'cocktail',
 'code',
 'coff',
 'coffe',
 'coffe thank',
 'coffe thank posit',
 'cold',
 'cold place',
 'cold place look',
 'cold place looki',
 'cold place lookin',
 'coldplay',
 'coldplaywembley',
 'collag',
 'colleagu',
 'collect',
 'colleg',
 'cologn',
 'colombia',
 'colombia puntohost',
 'colombia puntohost cedm',
 'colombia puntohost cedm edm',
 'coloni',
 'color',
 'colour',
 'combat',
 'come',
 'come day',
 'come home',
 'come increas',
 'come increas quantiti',
 'come increas quantiti multipl',
 'come join',
 'come join myhappycaptur',
 'come join myhappycaptur blogger',
 'come life',
 'come soon',
 'come thi',
 'come togeth',
 'come tomorrow',
 'come true',
 'comedi',
 'comedian',
 'comfi',
 'comfo',
 'comfoabl',
 'comic',
 'comingsoon',
 'comment',
 'comment reflect',
 'comment reflect ignor',
 'commerci',
 'commit',
 'common',
 'commun',
 'commut',
 'compani',
 'compar',
 'compass',
 'compet',
 'competit',
 'complain',
 ...]

In [37]:
vectorizer_bow.get_params()

{'analyzer': 'word',
 'binary': False,
 'decode_error': 'strict',
 'dtype': numpy.int64,
 'encoding': 'utf-8',
 'input': 'content',
 'lowercase': True,
 'max_df': 1.0,
 'max_features': 6000,
 'min_df': 1,
 'ngram_range': (1, 4),
 'preprocessor': None,
 'stop_words': 'english',
 'strip_accents': None,
 'token_pattern': '(?u)\\b\\w\\w+\\b',
 'tokenizer': None,
 'vocabulary': None}

In [38]:
count_df = pd.DataFrame(x_bow,columns = vectorizer_bow.get_feature_names())

In [39]:
count_df.head()

,aap,abandon,abil,abl,abov,abov expect,abrahamhick,abrahamhick lawofattract,abrahamhick lawofattract healthi,abrahamhick lawofattract healthi heal,...,yum,yummi,yummi cooki pleas,yyc,zara,zealand,zelda,zen,zero,zone
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

By TfidfVectorizer

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer_tdif = TfidfVectorizer(max_features=6000,stop_words='english',ngram_range=(1,4))

In [41]:
x_tdif = vectorizer_tdif.fit_transform(data['tweets without handle'])

In [42]:
x_tdif = x_tdif.todense()
x_tdif

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [43]:
y_tdif=data['label']

In [44]:
y_tdif

0        0
1        0
2        0
3        0
4        0
        ..
31957    0
31958    0
31959    0
31960    1
31961    0
Name: label, Length: 31962, dtype: int64

In [45]:
from sklearn.model_selection import train_test_split
xtrain_tdif,xtest_tdif,ytrain_tdif,ytest_tdif = train_test_split(x_tdif,y_tdif,test_size=0.2,random_state=3)

In [46]:
xtrain_tdif

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [47]:
xtrain_tdif.shape

(25569, 6000)

In [48]:
ytrain_tdif.shape

(25569,)

Decision Tree Classifier

By Using Count Vectourizer

In [49]:
from sklearn.tree import DecisionTreeClassifier

In [50]:
dmodel=DecisionTreeClassifier()

In [ ]:
dmodel.fit(xtrain_bow,ytrain_bow)

In [ ]:
pred_y_decision=dmodel.predict(xtest_bow)

In [ ]:
from sklearn import metrics

In [ ]:
accuracy_score=metrics.accuracy_score(ytest_bow,pred_y_decision)

In [ ]:
print(accuracy_score*100)

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
print(classification_report(ytest_bow,pred_y_decision))

In [ ]:
ytest_decision_confusion_matrix=metrics.confusion_matrix(ytest_bow,pred_y_decision)

In [ ]:
print(ytest_decision_confusion_matrix)

In [ ]:
import seaborn as sns
sns.heatmap(ytest_decision_confusion_matrix/np.sum(ytest_decision_confusion_matrix),annot=True,cmap='Blues',fmt='.2f')

By Using Tdidf Vector

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dmodel=DecisionTreeClassifier()

In [ ]:
dmodel.fit(xtrain_tdif,ytrain_tdif)

In [ ]:
pred_y=dmodel.predict(xtest_tdif)

In [ ]:
from sklearn import metrics

In [ ]:
accuracy_score=metrics.accuracy_score(ytest_tdif,pred_y)

In [ ]:
print(accuracy_score*100)

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
print(classification_report(ytest_tdif,pred_y))

In [ ]:
ytest_decision_confusion_matrix=metrics.confusion_matrix(ytest_tdif,pred_y)

In [ ]:
print(ytest_decision_confusion_matrix)

In [ ]:
import seaborn as sns
sns.heatmap(ytest_decision_confusion_matrix/np.sum(ytest_decision_confusion_matrix),annot=True,cmap='Blues',fmt='.2f')